[Desktop Entry]
Name=OpenDuck
Exec=/usr/lib/OpenDuck/OpenDuck %U
Icon=/usr/share/pixmaps/OpenDuck.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/openduck;x-scheme-handler/goose;
